# Build results
bin/
obj/
[Bb]uild/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# NuGet
*.nupkg
*.snupkg
packages/

# Misc
*.log
*.cache
*.tmp

Program.cs
